.App {
  text-align: center;

}
.container {
  display: inline-flex;
  height: 100vh;
  width: 100vw;
}


.Marker_container {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;

}

form input, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

form button {
  cursor: pointer;
}
.map_container {
  width: 75%;
  height: 100vh;

}

